#content {
  margin: 10px;080;
  padding: 10px;
  border: solid 1px rgb(175, 162, 162);
  background-color: #AFA2A2; 
  color: rgb(48, 47, 47);
  font-family: 'Comic Sans MS', cursive; /* Use Roboto font */
}

.minor-section {
  padding: 10px;
  border: solid 1px rgb(255, 255, 255);
  background-color: #dbcbcb; 
  color: rgb(48, 47, 47);
}

